<div>
    <div v-if="isOp" id="opPanel" style="position: absolute;left: 100px;top:60px;width: 1000px">
        <h1>game id:{{gameId}}</h1>
        <label class="label">设置延时时间(秒)</label>

        <p class="control">
            <input class="input" type="text"
                   onkeypress='var c = event.charCode;
                   return c >= 48 && c <= 57 ||c==46'
                   placeholder="" style="width: 50px;"
                   v-model="delayTime">
            <button class="button is-primary" @click="onClkSetDelay">确定</button>
        </p>

        <label class="label">现场时间:{{liveTime}}</label>
        <label class="label">面板时间:{{panelTime}}</label>

        <button class="button is-primary" @click="onClkStartTimer">开始</button>
        <button class="button is-primary" @click="onClkPauseTimer">暂停</button>
        <button class="button is-primary" @click="onClkResetTimer">重置</button>
    </div>
</div>
