<aside class="menu">
    <p class="menu-label">
        Player
    </p>
    <ul class="menu-list">
        <ul>
            <li><a href="#">添加Player</a></li>
            <li><a href="#">同步数据</a></li>
        </ul>
    </ul>
    <!--<div class="ui bulleted list col s2" style="position: absolute;left: 30px">-->
        <!--<div class="item">-->
            <!--<div>Player</div>-->
            <!--<div class="list">-->
                <!--<a class="item" href="#">添加Player</a>-->
                <!--<a class="item" href="#">同步数据</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">Inviting Friends</div>-->
        <!--<div class="item">-->
            <!--<div>Benefits</div>-->
            <!--<div class="list">-->
                <!--<a class="item" href="#">Link to somewhere</a>-->
                <!--<div class="item">Rebates</div>-->
                <!--<div class="item">Discounts</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="player-grid" class="col s10" style="position: relative;left: 290px">
        <div class="row" v-for="player in playerArr" style="display: inline-block;margin: 0">
            <div class="col s12">
                <div class="ui small fade reveal image">
                    <img class="visible content" src="{{player.avatar}}" style="width: 300px;height: 300px;">
                    <div class="hidden content">
                         <span class="card-title activator grey-text text-darken-4">{{player.name}}
                                <i class="material-icons right" @click="onEdit(player.id,$event)">mode_edit</i></span>
                        本轮得分:{{player.curFtScore}}
                        总分:{{player.ftScore}}
                        id:{{player.id}}
                    </div>
                </div>
                <!--<div class="card small" style="width:300px;height: 300px">-->
                <!--<i class="material-icons left waves-effect waves-block waves-light"-->
                <!--@click="onPickPlayer(player.id)">playlist_add</i>-->
                <!--<div class="card-image waves-effect waves-block waves-light">-->
                <!--<img class="activator" src="{{player.avatar}}">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                <!--<span class="card-title activator grey-text text-darken-4">{{player.name}}-->
                <!--<i class="material-icons right" @click="onEdit(player.id,$event)">mode_edit</i></span>-->
                <!--本轮得分:{{player.curFtScore}}-->
                <!--总分:{{player.ftScore}}-->
                <!--id:{{player.id}}-->
                <!--</div>-->
                <!--<div class="card-reveal">-->
                <!--<span class="card-title grey-text text-darken-4">战绩<i-->
                <!--class="material-icons right">close</i></span>-->
                <!--<p></p>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</aside>


