<nav class="nav has-shadow" >
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" :class="{active: active === ''}">
                <i class="home icon"></i>
                <router-link :to="{ name: 'home'}">Home</router-link>
            </a>
            <a class="nav-item" :class="{active: active === 'player'}">
                <i class="grid layout icon"></i>
                <router-link :to="{ name: 'player'}">玩家管理</router-link>
            </a>
            <a class="nav-item" :class="{active: active === 'panel'}">
                <router-link :to="{ name: 'panel'}">比赛管理</router-link>
            </a>
            <a class="nav-item" :class="{active: active === 'rank'}">
                <router-link :to="{ name: 'rank'}">天梯排名</router-link>
            </a>
        </div>

        <div class="nav-right">
            <a class="nav-item" :class="{active: active === 'setting'}">
                <router-link :to="{ name: 'setting'}">setting</router-link>
            </a>
        </div>
    </div>


</nav>
