<html>
<body>
<div id="app">
    <router-view></router-view>
</div>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/vue/vue-router.min.js"></script>
<script src="/js/socket.io-1.4.5.min.js"></script>
<script>
    var panelName = "{{panelName}}"
</script>

<script src="/view/panel.js"></script>
</body>
</html>